.post-1{
    padding: .5rem 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.work-acitive{
    background-color: #050564;
    color: white;
}
.work-heading{
    color: #050564;
}
.job-btn{
    background-color: #050564 !important;
    color: white !important;
    font-size: 25px !important;
}
.job-post-ul{
    height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.job-post-ul::-webkit-scrollbar{
    width: 0;
}