@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  /* max-width: 1300px !important; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-light-green:#d7f7d7;
  --color-dark-blue:#0f2f4f;
}

#alan-btn-chat-holder{
  height: 95vh !important;
}

.btn-light-green{
background-color: var(--color-light-green) !important;
border: 2px solid green !important;
}
.btn-light-green:hover{
background-color: transparent !important;
border: 2px solid green !important;
}
.btn-dark-blue{
background-color: var(--color-dark-blue) !important;
border: 2px solid  var(--color-dark-blue) !important;
}
.btn-dark-blue:hover{
background-color: transparent !important;
color: var(--color-dark-blue) !important;
border: 2px solid  var(--color-dark-blue) !important;
}
.btn-outline-dark-blue{
background-color: transparent !important;
color: var(--color-dark-blue) !important;
border: 2px solid  var(--color-dark-blue) !important;
}
.btn-outline-dark-blue:hover{
color: white !important;
background: var(--color-dark-blue) !important;
border: 2px solid  var(--color-dark-blue) !important;
}
.bg-dark-blue{
  background-color: var(--color-dark-blue);
}

/*  slick button */
.slick-prev:before, .slick-next:before{
  color: black !important;
}