.file-filed{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.file-filed .file-upload-container {
    display: flex;
    align-items: center;
    margin: 1rem auto;
  }
  
  .file-filed .file-upload-label {
    background-color: rgba(211, 211, 211, 0.69);
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 25rem;
    justify-content: center;
    font-weight: 600;
    border-radius: 1rem;
  }
  .file-filed .file-upload-input {
    display: none;
  }
  .file-filed .first-field{
    background-color: rgb(5, 5, 97);
    color: white;
  }
  .file-filed .first-field:hover{
    background-color: lightgray;
    color: rgb(5, 5, 97);
    border: 2px rgb(5, 5, 97);
  }

  .file-filed .second-field:hover{
      background-color: rgb(5, 5, 97);
    color: white;
  }